In [7]:
import psycopg2

# sqlalchemy is the ORM and psycopg is the driver that talks to the database
# it makes it so you dont actually have to write sql anymore and its easier to incorperate into python and development
from sqlalchemy import create_engine, MetaData

import pandas as pd
import json

## Doing it through SQA

Resources:
-[understanding sql injections](https://realpython.com/prevent-python-sql-injection/)
- [very detailed tutorial about SQA instead of using raw sql statements](http://www.rmunn.com/sqlalchemy-tutorial/tutorial.html)

In [4]:
with open('credentials.json') as file:
    credentials = json.load(file)

In [6]:


connection_string = (f"""postgresql://{credentials['user']}:{credentials['password']}@"""
                    f"""{credentials['host']}/{credentials['database']}""")
    
engine = create_engine(connection_string)
connection = engine.connect()

table_name = 'reaction_data'

print(engine.table_names()) # should print out nothing as sanity check

['reaction_data']

In [14]:
drop = '''DROP table IF EXISTS reaction_data'''

engine.execute(drop)

print(engine.table_names())

[]

In [53]:
reaction_data.drop(engine)

KeyError: '[Engine(postgresql://postgres:***@localhost/jennwong)] not found in axis'

In [46]:
reaction_data = pd.read_csv('../data_copy/reactions_2019.csv')
reaction_data.head()

     Id   Story  Story text Emoji               Created at
0  9730  2165.0         NaN    ❤️  2019-12-30 19:32:18 UTC
1  9729  2165.0     10786.0     😭  2019-12-30 17:25:38 UTC
2  9728  1848.0         NaN    ❤️  2019-12-30 06:26:23 UTC
3  9727   390.0      2009.0    ❤️  2019-12-29 20:38:12 UTC
4  9726  2165.0         NaN     👀  2019-12-29 20:33:34 UTC

In [48]:
reaction_data.to_sql(table_name, connection)
print(engine.table_names())

<bound method Engine.table_names of Engine(postgresql://postgres:***@localhost/jennwong)>

In [49]:
print(engine.table_names())

['reaction_data']

In [50]:
connection.close()

Resources used:
https://www.learndatasci.com/tutorials/using-databases-python-postgres-sqlalchemy-and-alembic/
- NTS: better understand the relationship between SQA and PG so that know how to use them better

In [23]:
# decentralizing authentification to enhance security
with open('credentials.json') as file:
    cred = json.load(file)

{'host': 'localhost',
 'database': 'jennwong',
 'user': 'postgres',
 'password': 'postgres'}

In [24]:
connection=psycopg2.connect(**cred)
cursor = connection.cursor()

In [13]:
# pushing data into the postgres database so that i can query it back down

reaction_data = pd.read_csv('../data_copy/reactions_2019.csv')
reaction_data.head()

     Id   Story  Story text Emoji               Created at
0  9730  2165.0         NaN    ❤️  2019-12-30 19:32:18 UTC
1  9729  2165.0     10786.0     😭  2019-12-30 17:25:38 UTC
2  9728  1848.0         NaN    ❤️  2019-12-30 06:26:23 UTC
3  9727   390.0      2009.0    ❤️  2019-12-29 20:38:12 UTC
4  9726  2165.0         NaN     👀  2019-12-29 20:33:34 UTC

In [14]:
# need to make sure the types are accurate so that i dont have to process the data when i query it

reaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9427 entries, 0 to 9426
Data columns (total 5 columns):
Id            9427 non-null int64
Story         9413 non-null float64
Story text    5210 non-null float64
Emoji         9427 non-null object
Created at    9427 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 368.4+ KB

In [19]:
# mapping a function on the columns of the dataframe
reaction_data.columns = map(str.lower, reaction_data.columns)
reaction_data.rename(columns={
    'created at': 'created_at'
}, inplace=True)
reaction_data.created_at = pd.to_datetime(reaction_data.created_at)

reaction_data.head()

     id   story  story text emoji                created_at
0  9730  2165.0         NaN    ❤️ 2019-12-30 19:32:18+00:00
1  9729  2165.0     10786.0     😭 2019-12-30 17:25:38+00:00
2  9728  1848.0         NaN    ❤️ 2019-12-30 06:26:23+00:00
3  9727   390.0      2009.0    ❤️ 2019-12-29 20:38:12+00:00
4  9726  2165.0         NaN     👀 2019-12-29 20:33:34+00:00

In [20]:
reaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9427 entries, 0 to 9426
Data columns (total 5 columns):
id            9427 non-null int64
story         9413 non-null float64
story text    5210 non-null float64
emoji         9427 non-null object
created_at    9427 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(1)
memory usage: 368.4+ KB

In [ ]:
# adding the table to the database
comman = """
    COPY reaction_data from 

"""

In [25]:
# remember to close the connection to me prevent resource leak

connection.close()